# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 